body {
    display: block;
    width: 800px;
    margin: 0 auto;
}

header {
    width: 800px;
    height: 200px;
    border-color: red;
    border: 8px solid red;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
}

nav {
    width: 100px;
    height: 400px;
    border: 8px solid orange;
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    /* align-items: center; */
}

section {
    width: 700px;
    height: 400px;
    border: 8px solid orange;
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    /* align-items: center; */
}

footer {
    width: 800px;
    height: 200px;
    border: 8px solid grey;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

